@font-face {
    font-family: 'Full Mrkt Font';
    src: url('./fonts/FullMrktFont-Regular.woff2') format('woff2'),
    url('./fonts/FullMrktFont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

